.banner {
	background-color: $color-blueMedium;
	padding: 18px;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	margin-bottom: 60px;

	p {
		color: $color-white;
		font-size: 16px;
	}
}
