// Colors
$color-blueLight: #7172da;
$color-blueMedium: #4543d9;
$color-blueDark: #1f2aac;

$color-white: #fff;
$color-black: #000;
$color-grayLight: #eeeff2;
$color-grayBorder: #cfd8e9;
$color-grayMedium: #93969d;
$color-grayDark: #554f4f;

$color-gradient-text: linear-gradient(
	89.88deg,
	#ff8045 2.69%,
	#7bd3cf 43.19%,
	#ab9cee 72%,
	#ffbd45 99.83%
);
